@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-size: .8rem;
    /* font-family: 'Roboto', sans-serif; */
    position: relative;
    /* background-color: #DFDB/E5; */
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.05'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right , #9383c7,  #d785c3);
background-blend-mode: multiply;
font-family: 'Montserrat', sans-serif;
}
img,svg,path{
    width: 100%;
}
.deco{
  
}
.to-up{
    position: fixed;
    cursor: pointer;
    top: 70%;
    right: 10%;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgba(101, 101, 241, 0.74);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
}
.to-up:hover,
.to-up:focus{
    border: 1px solid white;
    background-color: #d785c3;

}
img{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: s;
    overflow:hidden;
    border: 5px solid rgba(255, 255, 255, 0.226);
    border-radius: 15px;
    align-items: center;
    /* box-shadow: 20px 40px 5px 1px rgba(128, 128, 128, 0.295); */
    /* background-image: linear-gradient(to right , #9383c7,  #d785c3); */
    
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    /* width: 100vw; */
    /* background-image: linear-gradient(to right , #9383c7,  #d785c3); */
    /* height: 10vh; */
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    display: none;
   

}
@keyframes appear {
    0%{ 
        transform: scale(0);
    }
    10%{
        
        
    }
    100%{
       
        transform: scale(1);
    }
    
}
.navbar a {
    color: inherit;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 0px 0px 5px 1px red;
    font-weight: 900;
    text-transform: capitalize;
    font-weight: 900;
    border-bottom: 3px solid rgba(218, 218, 218, 0.253);
    /* font-size: 1.3rem; */
    transition: transform 200ms;
}

.navbar a:hover,
.navbar a:focus{
    transform: scale(1.1);
    border-color: rgba(0, 0, 255, 0.301);

}
.navbar input{
    width: 80%;
    padding: 1em;
    border-radius: 15px;
    border: 0;
}
.hero{
    background-image: url(img/1591982234694.jpg),linear-gradient(to right bottom , #9383C7 ,grey);
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.hero h1{
    text-align: center;
    color: inherit;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
    padding: .5em;
    /* background-color: #354B46; */
    border-radius: 15px;
    background-image: url(img/q2.png);
    background-size: cover;
    background-position: center;
    width: 70%; 
    
    /* animation:  startAnimation 2s  ; */
    /* animation-timing-function: ; */
    
}
@keyframes startAnimation {
    50%{
        /* background-image: none; */
    }
    85%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}
.article{
    padding: 1em 2em;
    letter-spacing: 1px;
    line-height: 1.4;
    /* opacity: .5; */
    
}
.article p{
    transition: all 200ms;
    border-bottom: 3px solid rgba(255, 255, 255, 0.226);
    padding-bottom: 1em;
    border-radius: 15px;
    color: inherit;
}
.article h2{
    margin: 0;
    color: inherit;
    
}
.article p:hover,
.article p:focus{
    transform: scale(1.05) translateY(-2px);
    font-weight: 900;
}

.advance-search{
    /* border-top: 3px solid rgba(255, 255, 255, 0.226); */
    padding: 1em 2em;
    letter-spacing: 1px;
    line-height: 1.4;
    /* background-color: white; */
    
}
.advance-search h2 {
    margin: 0;
}
.advance-search p{
    transition: all 200ms;
    
}
.advance-search p:last-child{
    border-bottom: 3px solid rgba(255, 255, 255, 0.226);
    padding-bottom: 1em;
    border-radius: 15px;
}
.advance-search p:hover{
    transform: scale(1.05) translateY(-2px);
    font-weight: 900;
}


.jobs{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}
.job{
    border: 1px solid red;
    line-height: 1.4;
    width: 25%;
    padding: 2em;
    letter-spacing: 1px;
    margin: .5em;
    border-radius: 15px;
    background-color: rgba(127, 255, 212, 0.192);
    flex-grow: 1;
    min-width: 250px;
}
.job h4 {
    margin: 0 0 .5em 0;
}
.job p {
    margin: 0 0 .35em 0;
}
.job a {
    color: inherit;
    text-decoration: none;
    float: right;
    padding: .5em 1.5em;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 5px;
    transition: transform 200ms;
}
.job a:hover,
.job a:focus{
    border: 1px solid white;
    background: transparent;
    transform: scale(1.1);
}
.search-contry{
    /* border: 1px solid; */
    display: flex;
    
    flex-wrap: wrap;
    padding: 1em;
    /* background: rgba(0, 245, 102, 0.192); */
    align-items: center;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    
    
}
.search-contry p {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    margin: 0 0 auto 0;
    font-size: 2rem;
    font-weight: 900;
   
}
.search-contry div {
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: .2em .7em;
    border-radius: 5px;
    margin: .5em;
    max-width: 140px;
    flex-grow: .5;
    display: flex;
    align-items: center;
    background-color: rgba(0, 4, 255, 0.089);
    cursor: pointer;
    transition: transform 200ms cubic-bezier(0.76,-1.58, 0, 2.58);
    font-weight: 900;
    
}
.search-contry div label{
    cursor: pointer;
}
.search-contry div:hover,
.search-contry div:focus{
    background-color: transparent;
    border: 3px solid #FEFEDF;
    transform: scale(1.05);
}
.search-contry div:active{
    border-color: #FEFEDF;
}
.search-contry div input {
    margin-right: .5em;
    cursor: pointer;
}
.jobsearch{
    width: 100%;
    height: 40px;
    
    margin-top: 1em;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms;

    
}
.jobsearch input{
    width: 80%;
    text-align: center;
    height: 100%;
    border: 0;
    padding: 0;
    /* border-radius: 15px; */
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    transition: transform 200ms;
    border: 0;
    font-weight: 900;
    letter-spacing: 1px;

}
.jobsearch:hover,
.jobsearch:focus{
    transform: scaleY(1.5) translateY(10px);
    
}
.jobsearch button{
    border: 0;
    padding: .5em 1.5em;
    height: 100%;
    /* border-radius: 5px; */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    background-color: hsla(240, 60%, 65%,1);
    font-weight: 900;
    transition: transform 200ms;
}
.jobsearch button:hover,
.jobsearch button:focus{
    /* background-color: transparent; */
    border: 1px solid hsla(240, 60%, 65%,1);
    color: white;
    transform: scale(1.1);
}
.pages{
    margin-top: 3em;
}
.pages span{
    margin: 0 1em;
    background: hsla(0, 60%, 100%,1);
    width: 100%;
    height: 100%;
    padding:0 1em;
    border-radius: 5px;
}
.prev{
cursor: pointer;
padding: .5em 1.5em;
border: 0;
border-radius: 5px;
transition: transform 200ms;
font-weight: 700;
}
.next{
    cursor: pointer;
    padding: .5em 1.5em;
    border: 0;
    border-radius: 5px;
    transition: transform 200ms;
font-weight: 700;
}
.prev:hover,
.prev:focus{
    transform: scale(1.1);

}
.next:hover,
.next:focus{
    transform: scale(1.1);

}
.about{
    padding: 1em 2em;
    letter-spacing: 1px;
    line-height: 1.4;
}

.about p{
    transition: all 200ms;
    border-bottom: 3px solid rgba(255, 255, 255, 0.226);
    padding-bottom: 1em;
    border-radius: 15px;
    color:inherit;
}
.about h2{
    margin: 0;
    color:inherit;
    
}







footer{
    height: 15vh;
display: flex;
justify-content: center;
align-items: center;
    padding: 1em ;
    font-weight: 900;
    letter-spacing: 1px;
    color: inherit;
}
@media (min-width:600px ) {
    body{
        font-size: 1rem;
    }
    .deco{
        background-image: url(img/304056.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 150px;
        height: 150px;
        z-index: 1;
        left: -2.15%;
        
        /* opacity: .6; */
    }
   
    .deco-2{
        bottom: 40%;
    }
   
   

}
.ux{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 15px;
    padding:.5em ;
    position: absolute;
    right: calc(0% + 2em);
    top: calc(0% + 2em );
    background-color: hsla(0, 0%, 50%,.5);
    /* width: 50px; */
}

.light{
cursor: pointer;
width: 30px;
height: 30px;
background-color: white;
border-radius: 50%;
padding: .2em;
transition: transform 200ms;
}
.music{
cursor: pointer;
width: 30px;
height: 30px;
background-color: white;
border-radius: 50%;
padding: .2em;
transition: transform 200ms;
position: relative;
}
:root{
    --clr-red:transparent
}
.ux::after{
    content: '';
    
    width: 40px;
    height: 4px;
    /* border: 5px solid orangered; */
    position: absolute;
    transform: rotate(-45deg) translateY(-30%) translateX(15%);
    z-index: 2;
    top: 50%;
    background-color: var(--clr-red);

}
.music:hover,
.light:hover,
.music:focus,
.light:focus{
    transform: scale(1.15);
}
.volume{
    transform: rotate(-90deg) scale(0);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 0;
    cursor: pointer;
    
    
}
@keyframes volumerange{
    from{
        transform:rotate(-90deg) scale(0);
        width: 0;
    }
    
    to{
        transform:rotate(-90deg) scale(1);
        width: 30%;
        
    }
}
